@font-face {
    font-family: Comixxx;
    src: url(assets/font/Comixxx-Regular.ttf) format("truetype");
}
@font-face {
    font-family: PulpFiction;
    src: url(assets/font/CCPulpFiction-Medium.ttf) format("truetype");
}

*,
html {
    margin: 0;
    padding: 0;
}

/* Warna latar belakang utama */
body {
    background-color: var(--warna-aksen); 

    padding-top: 65px;
    padding-bottom: 115px;
    z-index: 0;
    max-width: 1920px;
    margin: 0 auto; 
    overflow-x: hidden;
}

:root {
    --warna-utama: #fefefe;
    --warna-kedua: #191919;
    --warna-aksen: #dbdbdb;
}

.wraper-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    z-index: 10; 
}

.container-navbar {
    background-color: var(--warna-utama);
    user-select: none;
    height: 60px;
    width: 100%;
    max-width: 1920px;
    border-bottom: 4px solid var(--warna-kedua);
    display: flex;
    align-items: center;
    transition: transform 0.1s linear;
}


.navbar-text {
    color: var(--warna-kedua);
    font-family: 'Comixxx', sans-serif;
    font-size: clamp(20px, 1.5vw, 30px);
}


.navbar-icon {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px clamp(10px, 1.3vw, 25px);
}

.navbar-profile {
    width: 40px;
    height: 40px;
    margin: 10px clamp(10px, 1.3vw, 25px) 10px auto;
    border-radius: 50%;
    cursor: pointer;
    outline: 2px solid var(--warna-kedua);
    -webkit-user-drag: none;
}

.navbar-profile.hovered {
    outline: 3.5px solid var(--warna-kedua);
}

.popup-container {
    position: absolute;
    padding: 0;
    top: 75px; 
    right: 25px;
    width: 250px;
    background-color: var(--warna-utama);
    outline: 5px double var(--warna-kedua);
    box-shadow: -5px 5px 10px var(--warna-kedua);
    padding: 10px;
    font-family: 'Comixxx', sans-serif;
    transform: scale(0.8);
    z-index: 998;
}

.popup-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-container ul li {
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-indent: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--warna-kedua);
    transition: background-color 0.3s ease-out;
}

.popup-container ul li:hover {
    background-color: var(--warna-aksen);
    transform: scale(1.05);

}

.modeIcon {
    width: 25px;
    margin-left: 0px;
    padding: 0;
}
.modeIcon path {
    fill: var(--warna-kedua);
    stroke: none;
}

.container-body {
    display: grid;
    padding-right: clamp(20px, 3vw, 50px);
    padding-left: clamp(20px, 3vw, 50px);
    margin-top: clamp(30px, 3vw, 50px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    font-family: 'pulpfiction';
    font-size: clamp(10px, 0.85vw, 16px);
    line-height: 2;
    letter-spacing: 1px;   
}
.container-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-sizing: border-box;
    background-color: var(--warna-utama);
    color: var(--warna-kedua);
    /* align-items: center; */
    min-height: fit-content;
    max-width: 960px;
    min-width: 320px;
    margin: 0px clamp(10px, 1.3vw, 25px) 0px clamp(10px, 1.3vw, 25px);
    padding: clamp(10px, 1.05vw, 20px);
    margin-inline: auto;
    border: solid 4px var(--warna-kedua);
}

.content {
    text-align: center;
}

.isi-content  {
    text-indent: 25px;
}

.footer {
    color: var(--warna-kedua);
    background-color: var(--warna-utama);
    border-top: 4px solid var(--warna-kedua);
    bottom: 0;
    width: 100%;
    height: 50px;
    max-width: 1920px;
    position: fixed;
}
.footer-tabs {
    bottom: 0;
    width: 100%;
    height: 50px;
    position: fixed;

    font-family: comixxx;
    max-width: 1536px;
    width: calc(100vw - 140px);
    z-index: 1;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
}

.tab-button {
    user-select: none;
    cursor: pointer;
    font-size: clamp(15px, 1.1vw, 20px);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-out;

    height: 30px;
    margin: 5px;
    width: auto;
    min-width: 30px;
    padding: 5px;
}
.tab-button:hover {
    border-bottom: solid 2px var(--warna-kedua);
}
.tab-button.active {
    border-bottom: solid 2px var(--warna-kedua);
    background-color: var(--warna-aksen);
    transform: scale(1.1);
}

.footer-time {

    font-family: pulpfiction;
    height: 50px;
    display: flex;
    flex-direction: column; /* Konten bertumpuk vertikal */
    justify-content: center;
    align-items: flex-end;
}

#footer-clock {
    font-size: clamp(12px, 0.91vw, 17.5px);
    font-weight: bold;
    margin-right: clamp(10px, 1.3vw, 25px);
    letter-spacing: 1px;
}

#footer-date {
    font-size: clamp(12px, 0.85vw, 16px);
    margin-right: clamp(10px, 1.3vw, 25px);
}


body, .container-navbar, .container-content {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}


.popHeader {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--warna-kedua);
}
.popHText {
    font-size: clamp(20px, 1.6vw, 30px);
    line-height: 1;
    font-family: 'comixxx';
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--warna-aksen);
    z-index: 999;
}


.close-btn {
    color: var(--warna-kedua);
    width: clamp(20px, 1.6vw, 30px);
    background-color: none;
    margin: 0px 0px 0px auto;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}

.mhsPopup {
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);;
    width: clamp(320px, 70vw, 960px);
    color: var(--warna-kedua);
    background: var(--warna-utama);
    box-shadow: 0px 0px 15px var(--warna-kedua);
    padding: 25px;
    z-index: 999;

    font-family: 'pulpfiction';
    font-size: clamp(16px, 1.05vw, 20px);
    line-height: 2;
    letter-spacing: 1px;
}
.mhsContent {
    display: grid;
    user-select: none;
    grid-auto-flow: column; 
    width: auto;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
.mhsQNA {
    display: flex;
    cursor: default;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--warna-utama);
    color: var(--warna-kedua);
    align-items: left;

    font-family: 'pulpfiction';
    font-weight: bold;
    text-align: left;
    font-size: clamp(16px, 1.1vw, 20px);

    height: clamp(120px, 4vh, 160px);
    width: clamp(192px, 50vw, 240px);
    margin: 10px;
    padding: 10px;
    outline: solid 1px var(--warna-kedua);
}
.mhsQNA p {
    margin: auto 0 auto 0;
    font-family: Helvetica;
    font-weight: 1;
    line-height: clamp(16px, 0.85vw, 20px);
    font-size: clamp(12px, 0.75vw, 16px);
}

.bgmPopup {
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);;
    width: clamp(320px, 70vw, 960px);
    color: var(--warna-kedua);
    background: var(--warna-utama);
    box-shadow: 0px 0px 15px var(--warna-kedua);
    padding: 25px;
    z-index: 999;

    font-family: 'pulpfiction';
    font-size: clamp(16px, 1.05vw, 20px);
    line-height: 2;
    letter-spacing: 1px;
}

.bgmContent {
    display: grid;
    user-select: none;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    max-height: clamp(192px, 15vw, 240px);
    justify-content: center;
    overflow-y: auto;
}
.bgmOption {
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--warna-utama);
    color: var(--warna-kedua);

    margin: 10px;
    padding: 10px;
    outline: solid 1px var(--warna-kedua);
}
.bgmOption:hover {
    outline: solid 2.5px var(--warna-kedua);
}
.bgmEmoji {
    padding-top: 7.5px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 5px var(--warna-kedua);
}
.bgmPlaying {
    box-shadow: 0px 0px 15px var(--warna-kedua); /* Sesuaikan dengan warna utama */
    font-weight: bold;
    outline: 2.5px solid var(--warna-kedua);
    transition: background-color 0.3s, transform 0.2s;
    transform: scale(1.05);
}

.close-btn:hover {
    color: red;
}

.popup-container, .mhsPopup, .bgmPopup, .overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.popup-container, .mhsPopup, .bgmPopup {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0.3s;
}

.popup-container.active, .mhsPopup.active, .bgmPopup.active, .overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    transform: scale(1);
}
.mhsPopup.active, .bgmPopup.active {
    transform: translate(-50%, -50%);
}

.pdf-viewer {
    min-width: 80vwh;
}
  
  


